<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    

    <div class="col-12 col-lg-7">

        <h1 class="display-6 fw-bold mb-3"><span style="color:rgb(112, 63, 0);">G</span>ame <span style="color:rgb(255, 189, 0);">I</span>nformation & <span style="color:rgb(112, 63, 0);">R</span>eview <span style="color:rgb(255, 189, 0);">I</span>n <span style="color:rgb(112, 63, 0);">N</span>ode.</h1>
        <p class="lead text-secondary">
            여태 플레이 했던 게임 중 잘 알려지지 않은, 자신이 생각하는 최고의 게임을 소개해 주세요.
        </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">최신 순</a>
            <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">랜덤게임</a>
        </div>

    </div>

    <div class="col-12 col-lg-5">
        <img src="/img/main.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Index">
    </div>

</div>


<!-- Categories Start-->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <% if(categories != '') { %>
        <% categories.forEach((category, index) => { %>
        <a href="/categories/<%- category.name %>" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%- category.name %></div>
        </a>
        <% }) %>
    <% } %>

    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/view-all.png" alt="View All Category" loading="lazy">
        </div>
        <div class="pt-1">장르 전체 보기</div>
    </a>

</div>
<!-- Categories End -->

<!-- Latest Start -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>최신 순</h2>
        <a href="/explore-latest" class="ms-auto">더보기</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(genre != '') { %>
            <% genre.latest.forEach((game, index) => { %>
            <a href="/game/<%- game._id %>" class="col text-center category__link">
                <div class="category__img category__img--large shadow">
                    <img src="uploads/<%- game.image %>" alt="<%- game.name %>" loading="lazy">
                </div>
                <div class="pt-1"><%- game.name %></div>
            </a>
            <% }) %>
        <% } %>
    </div>

</section>

<!-- Latest End-->

<!-- Adventure Start -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>어드벤처 게임</h2>
        <a href="/categories/Adventure" class="ms-auto">더보기</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(typeof genre.adventure !== 'undefined' && genre.adventure.length > 0) { %>
            <% genre.adventure.forEach((game, index) => { %>
            <a href="/game/<%- game._id %>" class="col text-center category__link">
                <div class="category__img category__img--large shadow">
                    <img src="uploads/<%- game.image %>" alt="<%- game.name %>" loading="lazy">
                </div>
                <div class="pt-1"><%- game.name %></div>
            </a>
            <% }) %>
        <% } else {%>
            <p>등록된 게임이 없습니다.</p>
        <% } %>
    </div>
</section>

<!-- Thai End-->

<!-- Rhythm Start -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>리듬 게임</h2>
        <a href="/categories/Rhythm" class="ms-auto">더보기</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(genre.rhythm != '') { %>
            <% genre.rhythm.forEach((game, index) => { %>
            <a href="/game/<%- game._id %>" class="col text-center category__link">
                <div class="category__img category__img--large shadow">
                    <img src="uploads/<%- game.image %>" alt="<%- game.name %>" loading="lazy">
                </div>
                <div class="pt-1"><%- game.name %></div>
            </a>
            <% }) %>
        <% } else {%>
            <p>등록된 게임이 없습니다.</p>
        <% } %>
    </div>
</section>
<!-- American End-->


<!-- Sports Start -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>스포츠 게임</h2>
        <a href="/categories/Sports" class="ms-auto">더보기</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(genre.sports != '') { %>
            <% genre.sports.forEach((game, index) => { %>
            <a href="/game/<%- game._id %>" class="col text-center category__link">
                <div class="category__img category__img--large shadow">
                    <img src="uploads/<%- game.image %>" alt="<%- game.name %>" loading="lazy">
                </div>
                <div class="pt-1"><%- game.name %></div>
            </a>
            <% }) %>
        <% } else {%>
            <p>등록된 게임이 없습니다.</p>
        <% } %>
    </div>
</section>
<!-- Sports End-->

<section class="px-45 py-5 my-5 text-center">
    <img src="/img/publish-recipe.jpg" class="d-block mx-auto mb-4 img-fluid" alt="Publish your game for FREE today" width="566" height="208" loading="lazy">
    <h1 class="display-5 fw-bold">당신이 알고있는 게임을 소개해 보세요</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-secondary">좋아하지만 잘 알려지지 않은 게임을 사람들에게 알릴 수 있습니다.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-game" class="btn btn-primary btn-dark btn-lg">리뷰 작성</a>
        </div>
    </div>

</section>
<!-- Submit Start-->



<!-- Submit End-->